.settings-setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column {
  display: flex;
  justify-content: center;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings-list:first-child {
  margin-bottom: 20px;
}

.settings-badge {
  width: 19px;
  height: 19px;
  font-size: 12px;
  margin-left: 10px;
}
